Receta_Tools_03.json
{
  "name": "004_Receta_Tools",
  "nodes": [
    {
      "parameters": {
        "collection": "recipes",
        "options": {},
        "query": "={{ $json.find }}"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        720,
        -40
      ],
      "id": "a3786db5-d4fa-44e6-b28d-d5f94f98e4b1",
      "name": "MongoDB",
      "alwaysOutputData": false,
      "credentials": {
        "mongoDb": {
          "id": "6hD1WrCbER8lIBQe",
          "name": "004_MongoDB"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = JSON.parse($json.query);\n\nconst aggregateQuery = {\n    \"ingredientes\": {\n        \"$in\": items\n    }\n};\n\nreturn [{ json: { find: JSON.stringify(aggregateQuery) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        -40
      ],
      "id": "02128c6c-ffc6-4e3c-8609-c2699d710ce5",
      "name": "Convert to Tuple and Generate Aggregate",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        80,
        -40
      ],
      "id": "315c4ea0-787f-415d-b552-277dd4784985",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Convert to Tuple and Generate Aggregate": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Convert to Tuple and Generate Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "efad3098-c17f-4671-9d6e-b5dbd2343e9c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aba971b4467c89e323544d53952b095967ee819f64f9e296be6d261e340c7856"
  },
  "id": "i3dmYoSbNPfkb2RQ",
  "tags": []
}